footer.footer 
    .container
        .footer-content 
            .footer-content__left
                ul 
                    li 
                        a(href="") Sản phẩm hot
                    li 
                        a(href="") Sản phẩm bán chạy
                    li 
                        a(href="") Hot deal tháng 12
                    li 
                        a(href="") Anotner links
            .footer-content__right
                p © 2020 beebag.com.vn
                .social 
                    a(href="")
                        img(src="assets/images/fb.svg", alt="")
                    a(href="")
                        img(src="assets/images/instagram.svg", alt="")
                    a(href="")
                        img(src="assets/images/youtube.svg", alt="")
