header.header
    .container 
        .row
            .left
                .logo
                    h1 beeyou
                    a(href="index.html") 
                        img(src="assets/images/logo.png", alt="")
                .nav
                    ul
                        li 
                            a(href="") Trang chủ                           
                        li 
                            a(href="") Tote collection                          
                        li 
                            a(href="") Về chúng tôi                          
                        li 
                            a(href="") Liên hệ
            .right
                .card 
                    img(src="assets/images/card.svg", alt="")
                    span 2 
                .bars 
                    input#menu-118(type='checkbox')
                    label(for='menu-118')
                        .menu
                            .menu_part
                            .menu_part
                            .menu_part
                                             